*{
    background-color: #fefefe;
    font-family: 'Noto Sans JP', sans-serif;
}
html{
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
  }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.navbar{
    border-bottom:2px solid #dedede ;
}
#navBar{
position: sticky;
top: 0px;
z-index: 1;
}
#conbtn:hover{
    color: white;
    
}
li a:hover{
    /* border-bottom:1px solid #dedede ; */
    /* font-size: .9rem; */
    background-color: #F0F0F0;
}
.img{
    /* border: 2px solid; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 380px;
}
#abut{
    text-align: center;
}
#abut h1{
    color: #588bae;
}
#abut h1{
    padding:8px 0px;
}
h3{
    line-height: 40px !important;
}
#btn{
    width: 120px;
    padding: 15px 0px;
    border-radius: 10px;
}
/* #btn:hover{
    background-color: #588bae;
} */
@media (max-width: 800px){
    .bio{
        height: 185px !important;
    }
    .gif{
        height: 150px !important;
    }
}
@media (max-width: 1000px){
    .card-img-top{
        height: 200px!important;
    }
    .gif{
        height: 170px !important;
    }
}
@media (max-width: 770px){
    .bio-text{
        display: flex;
        justify-content: center;
    }
    .card-img-top{
        width: 200px!important;
    }
    .card_gif{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .idimg{
        height: 540px !important;
        padding: 0px 140px !important;
    }
}
@media (max-width: 500px){
    #navBar{
        position: sticky;
        top: 0px;
        z-index: 1;
        }
    .project{
        margin-bottom: 40px !important;
        padding: 5px !important;
        /* border: 2px solid; */
    }
    .bio-text{
        text-align: center;
    }
    .bio{
        height: 200px !important;
        text-align: center;
    }
    #abut h1{
        font-size:40px ;
    }
    .img{
        /* border: 2px solid; */
        height: 570px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardimg{
        height: 250px !important;
    }
    #abut h3{
        font-size:20px;
        line-height: 30px !important;
    }
    #ab{
        margin-left:15px !important;
    }
    #pr{
        margin-left:40px !important;
    }
    .navbar-brand{
        margin-left: 20px;
    }
    .gif{
        height: 200px !important;
    }
}